.tasklayout{
  display: flex;
  flex-direction: column;
  width: 754px;

}


.task-flex{
  display: flex ;
  gap: 10px;
}

.task-left{
  display: flex;
  flex-direction: column;
  width: 194px;
  padding:20PX ;
  background-color:#D9A3A3 ;
  justify-content: center;


}
.task-left-box{
  display: flex;
  align-items: center;
  gap: 2px;
  justify-content: center;
  border-radius: 10px;
}
.task-left-box img{
  width: 58px;
  height: 97px;
}

.task{
  width: 194px;
  height: 100%;

}

.task-left button{
  color: white;
  width: 154px;
  height: 39px;
  border-radius: 10px;
  border: none;
  background-color: hsla(0, 0%, 0%, 0.50);
}

.task-checklist{
  width:513px ;
  border-radius: 10px;
  display: flex;
  gap: 58px;
  background-color: white;
  justify-content:  center ;
  align-items: center;
  text-align: center;

}

.task-checklist {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.452);
}

.checkLeft{
  font-size: 32px;
  color: black;
  margin: 0;
  font-weight: bold;
}

.task-list-flex{
  width: 234px;
  height: 178px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content:center ;
  align-items: left;
  gap:36px ;
  padding-left: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.459) ;
  cursor: pointer;
}

.task-info{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
p{
  margin: 0px;
}

.task-container{
  display: flex;
  margin-top: 50px;
  justify-content:space-evenly ;

}
.p-date{
  color: rgba(0, 0, 0, 0.418);
  font-size: 13px;

}


.heading{
  font-size: 20px;
  font-weight: bold;

}

.subHeading{
  font-size: 14px;
}

.days-left{
  width: 83px;
  height: 18px;
  color: white;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  background-color: #B44BF1;
  
}